@font-face {
    font-family: peshang;
    src: url('/../assets/fonts/peshang.ttf');
}
@font-face {
    font-family: internal_speda;
    src: url('/../assets/fonts/Speda.ttf');
}

:root {
    --primary-color : #12464e;
    --secondery-color : rgba(239, 239, 239, 0.6);
    --invalid-color:red;

    --primary-font : internal_speda;
    --secondery-font:peshang;
}

body{
    overflow-x:hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--secondery-font)  !important;
}
p{
    font-family: var(--primary-font) !important;
}


.fr-second-toolbar {
    border: none !important;
}

.fr-toolbar {
    border: none !important;
}

.custom-input {
    padding-top: 35px !important;
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #e0e0e0 !important;
    font-family: var(--primary-color);
    direction: rtl !important;
    background: none !important;
    color: black !important;
    border-radius: 2px !important;
}

input~label {
    color: #a0a0a0 !important;
    font-family: var(--primary-font) !important;
    font-size: 16px !important;
    background: none !important;
}
.input-invalid-text{
    font-family: var(--secondery-font) ;
    font-size: 14px ;
    padding: 4px 1px;
    color: red;
}
.input-date-invalid {
    border-bottom: 1px solid var(--invalid-color) !important;

}
.input-text-area-invalid {
    border-bottom: 1px solid  var(--invalid-color) !important;
}
.input-text-invalid {
    border-bottom: 1px solid  var(--invalid-color) !important;
}
.select2-selection__placeholder {
    color: #a0a0a0 !important;
    font-size: 16px !important;
    font-family: var(--primary-font) !important;
}

textarea~label {
    color: #a0a0a0;
    font-family: var(--primary-font);
    font-size: 16px !important;
    background: none !important;
}

input {
    caret-color: rgb(196, 196, 196);
}

/*
.form-floating>.form-control:focus~label::after {
    background: none !important;
    color: #a0a0a0 !important;

}

.form-floating>label {
    padding: 1.6rem 0.75rem;
}

.form-floating>.form-control~label {
    color: #a0a0a0 !important;
    transform: scale(.85) translateY(0rem) translateX(-0.15rem) !important;
}

.form-floating>.form-control:focus~label {
    color: #a0a0a0 !important;
    transform: scale(.85) translateY(-1rem) translateX(-0.15rem) !important;
} */


.custom-row {
    display: flex;
    flex-direction: column;
    background: none;
    box-shadow: 0 0 10px rgba(191, 191, 191, 0.35);
    /*background: #a5c1c333;*/
    /*background: rgba(50, 66, 58, 0.84);*/
    /*border:lightgrey 1px solid ;*/
    border-radius: 5px;
    margin-top: 10px;
}

p {
    margin-bottom: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f8f8f8;
}

.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;

}

.contents {
    width: 80%;
    height: 100%;
    padding: 10px;
    margin: 0;
}

.sidebar-container {
    width: 350px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.iconbar {
    padding: 5px 0px 5px 5px;
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
}


.iconbar>div {
    padding: 10px 0px;
    background: var(--primary-color);
    width: 85%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}



.iconbar-icon {
    position: relative;
    margin: 8px 0px;
    width: 80%;
    height: 55px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: white;
    transition: 0.5s ease;
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

/*.sidenav-bridge {*/
/*    top: 0;*/
/*    right: -10%;*/
/*    width: 15% !important;*/
/*    position: absolute;*/
/*    height: 100% !important;*/
/*    border-radius: unset !important;*/
/*    display: none !important;*/
/*    background: #8d1c1c;*/
/*    transition: 0.5s ease;*/
/*    z-index: -100;*/
/*}*/

/*.move-bridge {*/
/*    display: block !important;*/
/*}*/

.iconbar-icon:first-child {
    background: none;
}

.iconbar-icon>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.iconbar-icon>div {
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

.iconbar-icon>p {
    padding: 2px 0px;
    font-size: 10px;
 }

.icon-bar-active-rtl {
    background: white !important;
    color:var(--primary-color);
    position: relative;
    width: 86%;
    font-weight: 600;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transform: translateX(-9%);
}


.icon-bar-active-rtl {

    background: white !important;
    color: var(--primary-color);
    position: relative;
    width: 86%;
    font-weight: 600;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transform: translateX(-9%);
}


.iconbar-icon:hover {
    background: rgba(93, 163, 187, 0.2);
}

/*menu bar*/
.menubar {
    padding: 5px 0px;
    flex: 3;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menubar>div {
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-radius: 8px;
}

.logo-container {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container>img {
    object-fit: contain;
    width: 80%;
    height: 80%;
}

.menubar-icons {
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 30px 15px;
    color: var(--primary-color);
}

.menubar-item {
    margin: 5px 0px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    text-align: right;
    border-bottom: 1px solid #e0e0e0;
    transition: 0.2s ease;
    text-decoration: none;
    cursor: pointer !important;

}

.menubar-item>a {
    padding: 10px 10px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    width: 80%;
    height: 100%;
    font-family: var(--primary-font);
}
.menubar-item > object > a > i {
    color: black;
}
.menubar-item > object  {
    transition: 0.3s ease;
    border-right: 1px solid #e0e0e0;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menubar-item > object > a{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.menubar-item:hover > object  {
    border-right:1px solid #cad2ce;
}
.menubar-item:hover > object:hover {
    background: var(--primary-color) !important;
}
.menubar-item:hover > object:hover > a>  i  {
    color: white;
}
.menubar-item-active {
    background: #054c56 !important;
}

.menubar-item-active>a {
    color: white !important;
}
.menubar-item-active > object > a >i  {
    color: white !important;
}
/*.menubar-item-active > div  {*/
/*    background: rgba(190, 210, 218, 0.6);*/
/*}*/
.menubar-item:hover {
    background: rgba(190, 210, 218, 0.6);
}




#admin-container {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: grid;
    grid-gap: 0;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 10px;
    background: white;
    overflow: hidden;
}

.admin-main-content {
    padding: 10px;
    overflow: hidden;
}

.admin-search-container {
    height: 70px;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 20px 20px 5px 20px;
}

.admin-search-input-container {
    height: 50px;
    display: flex;
    align-content: center;
    justify-content: start;
    padding: 10px 20px;
    position: relative;
    background: white;
    border: 2px solid #c4c4c4;
    border-radius: 8px;
}

.admin-search {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    color: #3b3b3b;
    font-family: 'Exo 2', sans-serif;
}

.admin-search::placeholder {
    color: #8f8f8f;
}

.admin-search-input-container>i {
    margin: 0px 10px;
    position: relative;
    top: 6px;
    color: #8f8f8f;
}

.section {
    overflow-y: auto !important;
    height: 510px;
}

.fr-wrapper {
    min-height: 330px !important;
    border: none !important;
}

.list-content-container {
    /*background: #0239411c;*/
    background: rgba(122, 197, 191, 0.23);
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(101, 101, 101, 0.14);
    transition: 0.5s ease;

}

.list-tile-container {
    width: 100%;
    height: 72vh;
    overflow-y: auto;
    padding: 5px 20px;
}

.list-tile-container::-webkit-scrollbar {
    display: none;
}

.content-list-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    border-bottom: 1px solid #0239411c;
    position: relative;
}

.heading-section-buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 20px 10px;
    border-bottom: 1px solid #0239411c;
    position: relative;
}

.list-switch {
    flex-direction: row !important;
    font-family: 'Exo 2', sans-serif;
    text-transform: capitalize;

}

.list-button-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    position: relative;
}

.list-title {
    flex: 1;
}

.list-title>h3 {
    font-family: var(--secondery-font);
}

/*switches*/
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 16px;
    margin: 0px 3px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/*end switches*/
.list-date-input {
    font-family: 'Exo 2', sans-serif;
    color: #2c2c2c;
    text-transform: capitalize;
    border-radius: 10px;
    border: 1px solid #2c2c2c;
    padding: 10px;
    outline: none;
}

.sort-button {
    outline: none;
    border-radius: 6px;
    padding: 10px 16px;
    font-family: 'Exo 2', sans-serif;
    text-transform: capitalize;
    font-weight: normal;
    background: white;
    /*023941*/
    border: none;
    color: white;
}

.back-button {
    outline: none;
    border-radius: 50%;
    padding: 10px 16px;
    font-family: 'Exo 2', sans-serif;
    text-transform: capitalize;
    font-weight: normal;
    background: white;
    /*023941*/
    border: none;
    color: white;
}

.back-button>i {
    color: #023941;
}

.sort-button>i {
    transition: ease;
}

.list-tile-item {
    width: 100%;
    height: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    background: white;
    padding: 0px 20px;
    margin: 3px 0px;
    transition: 0.3s ease;
}

.list-tile-item:hover {
    transform: scale(1.025);
    box-shadow: 0px 0px 15px rgba(89, 89, 89, 0.47);
}

.list-tile-item>.phone {
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.tile-section {
    flex: 1;
}

.list-tile-item>.phone>span {
    color: #8f8f8f;
}

.list-tile-item>.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
}

.list-tile-item>.profile>div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid rgba(6, 68, 20, 0.5);
    margin: 0px 12px;
    padding: 2px;
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


.filter-box-container {
    width: 400px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background: white;
    box-shadow: 0 0 10px rgba(100, 100, 100, 0.2);

    position: absolute;
    left: 30px;
    top: 50px;
    z-index: 10;
}

.filter-input {
    height: 42px;
    padding: 10px 16px;
    font-family: var(--secondery-font);
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    direction: rtl;
}

.filter-input::placeholder {
    color: #989898;
}

input:focus,
textarea:focus {
    box-shadow: none !important;
}

.rebar {
    font-family: var(--secondery-font);
}

.form-label {
    font-size: 12px;
    margin-bottom: 4px;
    color: #a2a2a2;

}

.filter-title {
    font-family: var(--secondery-font);
    display: inline-block;
    width: fit-content;
    cursor: pointer;
}

.filter-title-container>a {
    width: fit-content;
    color: #0c4128;
}

.filter-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #e0e0e0;
}

.filter-box-container>.row>button {
    font-family: var(--secondery-font);
}

.sort-button>i {
    color: var(--primary-color);
}

.active-sort-button {
    background: var(--primary-color) !important;
}

.active-sort-button>i {
    color: white !important;
}

.active-add-button {
    background: var(--primary-color) !important;
}

.active-add-button>i {
    color: white !important;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: rgba(6, 68, 20, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: rgba(25, 91, 39, 0.5);
}

.menubar-icons-active {
    display: flex !important;
}


.document-sides {
    box-shadow: 0 0 7px #e0e0e0;
    height: 80dvh;
    position: relative;
}

.custom-button {
    padding: 8px 30px;
    background: var(--primary-color);
    border-radius: 3px;
    color: white;
    font-family: var(--primary-font);
    font-size: 14px;
    display: flex;
    align-items: center;
    width: fit-content;
    position: absolute;
    bottom: 50px;
    left: 50px;
}
.normal-button {
    padding: 12px 30px;
    background: var(--primary-color);
    border-radius: 3px;
    color: white;
    font-family: var(--primary-font);
    font-size: 14px;
    display: flex;
    align-items: center;
    width: fit-content;
    border: none;
}

.dropdown-input {
    outline: none !important;
    border: none !important;
}

.custom-add-subject-tab>.nav-item>.nav-link:active {
    background: var(--primary-color) !important;
    color: white !important;
    font-family: var(--primary-font);
}
.documents-list-item{
    padding: 8px 5px ;
    margin: 5px 0;
    background: #f0f0f0;
    position: relative;
}
.document-delete-icon{
    position: absolute;
    left: 20px;
    top:5px;
}
.card {
    position: relative;
}
.card-delete-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
     position: absolute;
    left: 20px;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.document-dialog-image-container{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.document-modal{
    --bs-modal-width: 350px;
}
.modal-backdrop {
    opacity: 0.1!important;
}

/*tabs style*/

.nav-tabs .nav-link.active {
    background-color: var(--primary-color);
    color: white !important;
}
.tab-items{
    /*background-color: var(--primary-color);*/
    color: var(--primary-color) !important;
    background-color:  var(--primary-color)  0.4;
}

/*scroll bar style */

/*.container {*/
/*    display: flex;*/
/*    margin: 50px;*/
/*    column-gap: 20px;*/
/*}*/

/*.scrollbar {*/
/*    height: 300px;*/
/*    width: 50%;*/
/*    overflow: auto;*/
/*    padding: 0 10px;*/
/*}*/
/*       ScrollBar 1        */

/*#scrollbar1::-webkit-scrollbar {*/
/*    width: 10px;*/
/*}*/

/*#scrollbar1::-webkit-scrollbar-track {*/
/*    border-radius: 8px;*/
/*    background-color: #e7e7e7;*/
/*    border: 1px solid #cacaca;*/
/*}*/

/*#scrollbar1::-webkit-scrollbar-thumb {*/
/*    border-radius: 8px;*/
/*    background-color: #d55959;*/
/*}*/
/*!*       ScrollBar 2        *!*/

/*#scrollbar2::-webkit-scrollbar {*/
/*    width: 12px;*/
/*}*/

/*#scrollbar2::-webkit-scrollbar-track {*/
/*    border-radius: 8px;*/
/*    background-color: #e7e7e7;*/
/*    border: 1px solid #cacaca;*/
/*    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);*/
/*}*/

/*#scrollbar2::-webkit-scrollbar-thumb {*/
/*    border-radius: 8px;*/
/*    background-color: #363636;*/
/*}*/
/*!*        ScrollBar 3    *!*/

/*#scrollbar3::-webkit-scrollbar {*/
/*    width: 12px;*/
/*}*/

/*#scrollbar3::-webkit-scrollbar-track {*/
/*    background-color: #e7e7e7;*/
/*    border: 1px solid #cacaca;*/
/*}*/

/*#scrollbar3::-webkit-scrollbar-thumb {*/
/*    background-color: #060b9a;*/
/*}*/
/*!*        ScrollBar 4    *!*/

/*#scrollbar4::-webkit-scrollbar {*/
/*    width: 12px;*/
/*}*/

/*#scrollbar4::-webkit-scrollbar-track {*/
/*    background-color: transparent;*/
/*    border: 1.5px solid #7e7e7e;*/
/*    border-radius: 8px;*/
/*}*/

/*#scrollbar4::-webkit-scrollbar-thumb {*/
/*    background-color: #f1f1f1;*/
/*    border: 2px solid #616161;*/
/*    border-radius: 8px;*/
/*}*/
/*!*        ScrollBar 5    *!*/

/*#scrollbar5::-webkit-scrollbar {*/
/*    background-color: #000;*/
/*    width: 12px;*/
/*    border-radius: 10px;*/
/*}*/

/*#scrollbar5::-webkit-scrollbar-track {*/
/*    border-radius: 10px;*/
/*    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);*/
/*}*/

/*#scrollbar5::-webkit-scrollbar-thumb {*/
/*    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.5, #a520ca), color-stop(1, #2681cc));*/
/*    border-radius: 10px;*/
/*}*/
/*       ScrollBar 6        */
 ::-webkit-scrollbar {
    width: 12px;
}
 ::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #b0bcbc;
    border: 1px solid #cacaca;
}
 ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--primary-color);
}
 /* subscribers item */
.subscribers-main-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.subscribers-item-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #EFEFEF99;
}
.subscribers-item-container > .subscriber-item-img{
    width: 55px;
    height: 55px ;
    border-radius: 50%;
    margin: 2px;
    padding: 5px;
    border:4px solid white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.subscribers-item-container > p{
    font-family: var(--primary-font);
    font-size: 16px;
}
.subscribers-item-container > div > input {
    width: 15px;
    height: 15px;
}

/*group lectures*/

#lectures {
    padding :5px;
}
.group-lectures-container {
    width:100% !important;
    font-family: var(--primary-font) !important;
    height:510px;
    overflow-y: auto !important;
 }
.group-lectures-container > ul{
    width:100% !important;
    /*background: #0a53be;*/
    list-style-type: none;
}
.group-lectures-container > ul > li > ul > li > ul{
    width:100% !important;
    /*background: #0a53be;*/
    list-style-type: none;
}
.group-lectures-container > ul > li {
    padding: 15px 10px;
    /*background: lightgray;*/
    margin: 10px 0px;
}
.group-lectures-container > ul > li  > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 0 5px 30px !important;
    background: white;
    border: 1px solid #e0e0e0;
}
.group-lectures-container > ul > li  > ul > li > ul > li  {
    padding: 3px  0px;


}
.group-lectures-container > ul > li  > ul > li > ul > li > div {
    padding: 13px 20px 9px 0px;
    margin: 0 !important;
    display: flex;
    align-items: center;
    font-size: 16px !important;
    width: 100%;
    background: #dfdfdf;
}
.group-lectures-container > ul > li  > ul > li > ul > li > div > h4 {

    padding: 13px 20px 9px 0px;
    margin: 0 !important;
    display: flex;
    align-items: center;
    font-size: 16px !important;
    width: 100%;
}
 .group-lectures-container > ul > li  > div > h4 {
    padding: 13px 20px 9px 0px;
    margin: 0 !important;
    display: flex;
    align-items: center;
    font-size: 16px !important;
    width: fit-content;
}
.icon-button {
    color: var(--primary-color);
    padding: 7px;
    transition: 0.3s ease;
    border-radius: 5px;
}
.icon-button:hover {
    background: var(--primary-color) !important;
    color: white;
}
/*subsection*/
.group-lectures-container > ul > li  > ul{
    /*background: olive;*/
    padding:5px 40px 5px 0px;
    list-style-type: none;
}
.group-lectures-container > ul > li  > ul > li {
    padding: 8px 10px;
    background: #f9f9f9;
    margin: 5px 0px;
}
.group-lectures-container > ul > li  > ul > li >  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.group-lectures-container > ul > li  > ul > li > div  > h4 {
    padding: 10px  0px 7px 0px;
    margin: 0 !important;
    display: flex;
    align-items: center;
    font-size: 16px !important;
    width: fit-content;
}
.sub-lecture > div{
    transition: 0.2s ease;
    padding: 0px !important;
}
.sub-lecture {
    padding: 0px !important;
    background: none !important;
}
.second-child-container {
    padding: 3px 0px;
}
.second-child-container > li > div  {
    background : #e0e0e0 !important;
}
.sub-lecture > div {
    padding:5px 10px     !important;
    background: #f0f0f0;
}
.sub-lecture > div:hover {
    background: #f0f0f0;
}
.subscriber-modal-container{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height:300px;
    overflow-y: auto;
}
.user-login-logo {
    width : 50px ;
    height: 50px;
}
.submit-button {
    background: #023941 !important;
    font-size: 13px !important;
    font-family: var(--primary-font);
    padding:8px 25px;
}
.close-button {
    font-size: 13px !important;
    font-family: var(--primary-font);
    padding:8px 25px;
    background: none !important;
}
.nested {
    display : none;
}
i{
    transition :0.2s ease;
}
.rotate45deg{
    transform: rotate(-90deg);
}

.coursebook-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: black !important;

}

.lecture{
    padding: 10px;
    margin: 5px 0px;
    background: #f0f0f0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

}
.container-item > .container > :first-child {
    border:1px solid lightgray;
    padding: 10px;
    width: 100% !important;
    background: white !important;
}
.lecture * {
    width: 90%;
    background: lightgreen;
    margin: 4px 0px;
    padding: 10px;
}



/*kmlom*/



.content {
    padding: 10px;
    margin: 5px 0px;
    background: #f0f0f0;
    width:98%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.container {
    direction:ltr;
    padding-right: 10px;
    margin:15px 0px;
    position: relative;
    /*border: 1px solid black;*/
}

.container-item {
    padding: 1px;
}

.container-item-without-padding {
    padding: 0px;
}
.container-item > .container::before {
    content: '';
    position: absolute;
    right: -10px;

}
.container-item {
    position: relative;

}
.container-item > i {
    position: absolute;
    right: -10px;
    top: 30px;
    color: #a0a0a0;
}
